PORT=8083

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/paper
SPRING_DATASOURCE_USERNAME=paper
SPRING_DATASOURCE_PASSWORD=paper

FRONTEND_URL=http://localhost:3000
JWT_PUBLIC_KEY=replace-with-hmac-secret

BACKBLAZE_ENDPOINT=https://s3.us-west-004.backblazeb2.com
BACKBLAZE_REGION=us-west-004
BACKBLAZE_BUCKET_NAME=paper-files
BACKBLAZE_ACCESS_KEY=replace-with-key-id
BACKBLAZE_SECRET_KEY=replace-with-application-key

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_SSL_ENABLED=false
RABBITMQ_EXCHANGE=paper.events
RABBITMQ_ROUTING_KEY_EVALUATED=paper.evaluated
